<h2> Edit This Note</h2>

<form method="post" action="/notes/<%= @note.id %>">
    <input type="hidden" id="hidden" name="_method" value="patch">
    <p>Title: <input type="text" id="note_title" name="note_title" value="<%= @note.title %>"></p>
    <p>Content: <input type="text" id="note_content" name="note_content" value="<%= @note.content %>"></p>
    <p>Choose Which Notebook To Add This Note To</h3>
    <% Notebook.all.each do |ntbk| %>
        <p><%= ntbk.name %><input type="checkbox" id="notebook_<%= ntbk.id %>" name="notebook_id" value="<%= ntbk.id %>" <%='checked' if @note.notebook == ntbk %>></p>
    <%end%>
    <input type="submit" value="Submit Edits">
</form>

<p><a href="/">Notebooks</a></p>
<p><a href="/logout">Log Out</a></p>